{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {{ block.super }} | Edit group
{% endblock %}
{% block content %}
    <h2>{{ group.name }}</h2>

    <table class="table table-striped">
        <tr>
            <th>Task</th>
            <th>Open</th>
            <th>Deadline</th>
            <th>Close</th>
        </tr>
        {% for task_details in tasks_details %}
        <tr>
            <td>{{ task_details.task.display_name }}</td>
            <td>{{ task_details.open }}</td>
            <td>{{ task_details.deadline }}</td>
            <td>{{ task_details.close }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}