{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {{ block.super }} | Submit #{{ submit.pk }}
{% endblock %}
{% block content %}
    <div class="page_header">
        <div class="pull-left">
            <h1>Submit #{{ submit.pk }}</h1>
        </div>
    </div>
    <div class="pull-right">
        <h1>
            <span class="small">
                <a href="{% url 'contest_details' submit.task.contest.pk %}?current_tab=news">{{ submit.task.contest }}</a> | <a href="{% url 'task_details' submit.task.pk %}">{{ submit.task }}</a>
            </span>
        </h1>
    </div>
    <div class="clearfix"></div>
    <pre><code>{{ solution }}</code></pre>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
