{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration successful" %}{% endblock %}

{% block content %}
<p>{% trans "You would not be sent any email, due to limited test access. If you are eligible, your account will be activated by hand." %}</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}