{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h3>{{ user.username }} {% trans 'settings' %}</h3>

<form method="POST" action="">
    {% csrf_token %}

    <fieldset>
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <input class="btn btn-default" type="submit" value="{% trans 'Submit' %}"/>
    </fieldset>
</form>
<a href="{% url 'auth_password_change' %}">Change your password</a>

{% endblock %}

{% comment %}

Basic page used to edit profile info.

{% endcomment %}