{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4" id="profile_data_small_container">
        <ul>
            {% if profile.show_email %}
            <li class="profile_data_sml"><a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
            {% endif %}
            {% if profile.personal_page %}
            <li class="profile_data_sml"><a href="{{ profile.personal_page }}" target="_blank">Personal page</a></li>
            {% endif %}
            <li class="profile_data_sml">{{ profile.get_organization_display }}</li>
            <li class="profile_data_sml">{{ age }} years old</li>
        </ul>
    </div>
      <div class="col-sm-12 col-md-8" id="profile_dashboard_container">
          <h1 class="profile_name">{{ user.first_name }} {{ user.last_name }}</h1>
          <h3 class="profile_username">{{ user.username }}</h3>
      </div>
  </div>
</div>
{% endblock %}